body{
	padding-top: 60px;
	padding-bottom: 60px;
}

.carousel-caption h1,.carousel-caption h2,.carousel-caption h3,.carousel-caption h4,.carousel-caption h5{
	margin:0 0 5px;
	color:#fff;
}

@media(max-width: 980px){
	body{
		padding-top: 0;
		padding-bottom: 0;
	}
}
