@import url("base.css");


#container{
	height:960px;
}

#logo_Loading{
	width:128px;
	height:128px;
}

#photoArea{
	width:600px;
	height:400px;
	position:absolute;
	background-color:#000;
	top:150px;
	left:200px;
	margin:auto;
	overflow:hidden;
	z-index:2;
}

#BrowserBack{
	width:1000px;
	height:180px;
	position:absolute;
	top:600px;
	background-color:#000;
	opacity:.20;
	color:white;
	overflow:scroll;
}

#Path{
	width:1000px;
	position:absolute;
	top:-10px;
}

#Path a{
	display:block;
	float:left;
	font-family:"Source Sans Pro";
}

#Path img{
	margin-left:5px;
}

.Path{
	display:inline;
	background-color:#5a5a5a;
	padding:5px;
	margin-left:5px;
}


#MediaArea{
	width:1000px;
	height:200px;
	position:absolute;
	top:580px;
	color:white;
}

#Browser{
	width:1000px;
	height:180px;
	position:absolute;
	top:35px;
	color:white;
	text-align:center;
	font-family:"Source Sans Pro";
}

#Browser img{
	margin:auto;
	display:block;
}

#Browser a{
	margin-left:50px;
	width:200px;
	height:150px;
	display:block;
	float:left;
}

#Info{
	top:780px;
}
