@import url("base.css");

#container{
	height:720px;
}

p{
	font-size:18px;
}

#Info{
	top:531px;
}

#Paragraph{
	color:#FFF;
	margin-right:2px;
	width:766px;
	height:366px;
	position:absolute;
	bottom:192px;
	right:0;
	background-color:#000;
	opacity:.40;
	font-family:"Source Sans Pro";
}

#Paragraph a{
text-decoration:underline;
}

.paragraphTitle{
	margin-left:10px;
	margin-top:10px;
	font-size:22px;
	font-weight:900;
}

.subParagraph{
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 0px;
}