@import url("base.css");

table{
	border:#808080 solid 3px;
}

#photoArea{
	width:600px;
	height:400px;
	position:absolute;
	background-color:#000;
	top:150px;
	left:200px;
	margin:auto;
	overflow:hidden;
	z-index:2;
}

.slide{
	height:400px;
	margin:auto;
}

#QuickInfo{
	width:200px;
	height:366px;
	position:absolute;
	top:163px;
	right:0;
	background-color:#000;
	opacity:.40;
}