body{
	margin:10px 0 0 0;
	background-color:#000;
}

p,h1,h2,h3,h4,h5,h6{
	margin:0;
}

p{
	font-size:20px;
}

a{
	color:#cfcfcf;
}

table{
	border:#808080 solid 3px;
}

#container{
	width:900px;
	height:600px;
	margin:auto;
	background-color:#C0C0C0;
	position:relative;
	background:url("images/grad_container.jpg");
	border-radius:5px;
	-moz-border-radius:5px;
	
}

#logoMain{
	z-index:1;
	position: relative
}

#upperNav{
	position:absolute;
	top:0;
	right:0;
	color:#FFF;
}

#photoArea{
	width:900px;
	height:400px;
	position:absolute;
	top:33px;
	margin:auto;
	overflow:hidden;
}

#logoFirst{
	position:absolute;
	top:200px;
	left:45px;
	z-index:2;
}

.active{
	color:#686868;
}

#upperNav{
	width:600px;
	height:40px;
	position:absolute;
	top:0;
	right:0;
	color:#FFF;
}

#upperNav .upperLink{
	padding:3px 0 0 0;
	float:left;
	width:118px;
	height:28px;
	margin:0;
	text-align:center;
	border: 1px solid #808080;
	background:#000;
	border-radius:5px;
	-moz-border-radius:5px;
	font-family:"Source Sans Pro";
	font-size:20px;
	opacity:.40;
}

#upperNav .upperLink:hover{
	opacity:.70;
}

.slide{
	position:absolute;
	left:300px;
	height:400px;
}

#linkInfo{
	width:900px;
	height:125px;
	position:absolute;
	bottom:60px;
	right:0;
	background-color:#808080;
}

#linkInfo .info{
	margin:5px;
	color:#FFF;
	display:none;
}

.infoBlock{
	margin:0  0 0 5px;
	padding:0 10px 0 10px;
	height:115px;
	width:870px;
	background-color:#616161;
	border-radius:10px;
	-moz-border-radius:10px;
}

.infoBlock h2{
	font-family:"Source Sans Pro";
	font-size:30px;
}

#ContentMain{
	position:absolute;
	left:300px;
	top:30px;
	padding:10px;
	height:340px;
	width:570px;
	font-family:"Source Sans Pro";
}

#ContentLower {
	position:absolute;
	left:10px;
	bottom:10px;
	padding:10px;
	height:180px;
	width:860px;
	font-family:"Source Sans Pro";
	background:#585858;
	border-radius:5px;
	-moz-border-radius:5px;
}

#lowerNav{
	width:900px;
	height:60px;
	position:absolute;
	bottom:0;
	right:0;
	color:#FFF;
}

#lowerNav .lowerLink{
	padding:10px 0 0 0;
	float:left;
	width:298px;
	height:48px;
	margin:0;
	text-align:center;
	border: 1px solid #808080;
	background:#000;
	border-radius:5px;
	-moz-border-radius:5px;
	font-family:"Source Sans Pro";
	font-size:35px;
	opacity:.40;
}

#lowerNav .lowerLink:hover{

	opacity:.70;
}