/*	
	#Banner
	{
		
		position:fixed;
		background-color:white;
	}
	
	#bumpDown
	{
		padding-top: 340px;
	}
	@media screen and (max-width: 800px){
		#Banner
		{
			position:absolute;
			background-color:white;
		}
		
	}
	@media screen and (max-height: 380px) {
		#Banner
		{
			position:absolute;
			background-color:white;
		}
		
	}
	*/
	
	.right{text-align:right;}
	.l{text-align:left;}
	.c{text-align:center;}
	
	.w10{width:10%;}
	.w15{width:15%;}
	.w20{width:20%;}
	.w25{width:25%;}
	.w30{width:30%;}
	.w35{width:35%;}
	.w40{width:40%;}
	.w45{width:45%;}
	.w50{width:50%;}
	.w55{width:55%;}
	.w60{width:60%;}
	.w65{width:65%;}
	.w70{width:70%;}
	.w75{width:75%;}
	.w80{width:80%;}
	.w85{width:85%;}
	.w90{width:90%;}

	.h10{height:10%;}
	.h15{height:15%;}
	.h20{height:20%;}
	.h25{height:25%;}
	.h30{height:30%;}
	.h35{height:35%;}
	.h40{height:40%;}
	.h45{height:45%;}
	.h50{height:50%;}
	.h55{height:55%;}
	.h60{height:60%;}
	.h65{height:65%;}
	.h70{height:70%;}
	.h75{height:75%;}
	.h80{height:80%;}
	.h85{height:85%;}
	.h90{height:90%;}
	.h95{height:95%;}
	